<a href="https://colab.research.google.com/github/ManchikantiNehanjali/ChatBot/blob/main/WeatherApp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import json
import datetime

In [15]:
city=input()
date=input()
URL='https://api.oikolab.com/weather'

Delhi
2022-12-02

In [17]:
import requests

resp = requests.get(URL,

params={'param': ['temperature'],

'start': date,

'end': date,

'location': city,

'api-key': 'dddf1dc097444513a5cae66cd760a774', #this is to make sure that valid user is using the api 
'freq':'D'})   #freq:D this tells that data is given based on days if it is not specified the data is given based on minutes or hours
weather_data=resp.json()['data']
weather_data = json.loads(weather_data) #as weather_data is in string format to convert to JSON 
weather_data

{'columns': ['coordinates (lat,lon)',
  'model (name)',
  'model elevation (surface)',
  'utc_offset (hrs)',
  'temperature (degC)'],
 'index': [1669939200],
 'data': [['(28.6138954, 77.2090057)', 'era5', 220.72, 5.5, 17.04]]}

In [19]:
df = pd.DataFrame(index=pd.to_datetime(weather_data['index'],unit='s'),
                  data=weather_data['data'],
                  columns=weather_data['columns'])
df

,"coordinates (lat,lon)",model (name),model elevation (surface),utc_offset (hrs),temperature (degC)
2022-12-02,"(28.6138954, 77.2090057)",era5,220.72,5.5,17.04

In [25]:
temp=df.iloc[0,4]
print(f"Temperature for {city} on {date} = {temp}C")

Temperature for Delhi on 2022-12-02 = 17.04C

In [29]:
def Response(s_date,e_date,city):
  resp = requests.get(URL,

  params={'param': ['temperature'],'start': s_date,'end': e_date,'location': city,'api-key': 'dddf1dc097444513a5cae66cd760a774','freq':'D'})
  weather_data=resp.json()['data']
  weather_data = json.loads(weather_data)
  df = pd.DataFrame(index=pd.to_datetime(weather_data['index'],unit='s'),data=weather_data['data'],columns=weather_data['columns'])
  temp=df['temperature (degC)']
  return temp.var()

In [39]:
s_date=input()
s_date=s_date.split('-')
obj1 = datetime.datetime(int(s_date[0]),int(s_date[1]),int(s_date[2]))
obj2=obj1+datetime.timedelta(days=7)

s_date=str(obj1).split(' ')[0]
e_date=str(obj2).split(' ')[0]

print(s_date,e_date)

city1=input()
city2=input()
varcity1=Response(s_date,e_date,city1)
varcity2=Response(s_date,e_date,city2)

if varcity1>varcity2:
  print(f"We choose {city2} because of less temperature variance")
else:
  print(f"We choose {city1} because of less temperature variance")

2022-02-27
2022-02-27 2022-03-06
Delhi
Mumbai
1.5189839285714275 0.5394982142857144
We choose Mumbai because of less temperature variance